{% extends 'book/main.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'Book:add'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="rate">Rate</label>
            <input type="number" class="form-control" id="rate" name="rate">
        </div>
        <div class="form-group">
            <label for="views">Views</label>
            <input type="number" class="form-control" id="views" name="views">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
